.fr-landing {
  background-color: #535E5A;
  color: #fff;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow-y: scroll;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  .container {
    margin: 0 auto;
    width: 90vw;

    .navbar {
      display: flex;
      justify-content: space-between;
      padding-top: 32px;

      p {
        font-size: 20px;
      }

      .close-btn {
        cursor: pointer;
      }
    }

    .project-modal {

      .project-description {
        font-size: 32px;
      }

      .project-info {

        .info-description {
          font-family: "Roboto Condensed", sans-serif;
          position: relative;
          display: flex;
          flex-direction: column;

          // Line before the first info-modal
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 1px;
            background: rgba(255, 255, 255, 0.5); // Adjust color and transparency as needed
          }

          // Line after the last info-modal
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 1px;
            background: rgba(255, 255, 255, 0.5); // Adjust color and transparency as needed
          }

          .info-modal {
            position: relative;
            display: flex;
            justify-content: space-between;
            padding: 28px 0;

            .toggle-view-btn {
              display: flex;
              align-items: center;
              background: none;
              border: none;
              font-family: "Roboto Condensed", sans-serif;
              color: #fff;
              cursor: pointer;
              padding: 0;
              text-transform: uppercase;
              letter-spacing: 1px;
              transition: color 0.3s ease;

              svg {
                margin-right: 8px;
                font-size: 20px;  // Adjust icon size to match text
              }

              &:hover {
                color: #fff;  // Make it fully white on hover for clear feedback
              }

              &:focus {
                outline: none; // Remove default focus styles
                // color: #00aaff; // Optional: highlight the button with a different color on focus
              }
            }

            // Additional space for clarity
            .view-toggle {
              margin-top: 16px;
            }

            // Line between info-modal divs
            &:not(:last-child)::after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              height: 1px;
              background: rgba(255, 255, 255, 0.5); // Adjust color and transparency as needed
            }
          }
        }
      }

      .imgs-container {
        padding-top: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .pc-img {
          width: 90vw;
          margin-bottom: 1rem;
        }

        .mobile-img {
          width: 15vw;  // Adjust accordingly for mobile
          margin-bottom: 1rem;
        }
      }

      @media (max-width: 768px) {
        .imgs-container {
          .mobile-img {
            width: 60vw;  // Adjust the width for mobile screens
          }
        }
      }
    }
  }
}
