.fr-landing {
  background-color: #535E5A;
  color: #fff;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  .container {
    margin: 0 auto;
    width: 90vw;

    .navbar {
      display: flex;
      justify-content: space-between;
      padding-top: 32px;

      p {
        font-size: 20px;
      }

      .close-btn {
        cursor: pointer;
      }
    }
  }
}
